<form>
    <label for="username">Username:</label>
        <input type="text" id="username" placeholder="username">
    <label for="password">Password:</label>
        <input type="password" id="password">
    <label for="passwordRepeat">Repeat password:</label>
        <input type="password" id="passwordRepeat">
    <label for="name">Full name:</label>
        <input type="text" id="name">
    <label for="email">Email:</label>
        <input type="text" id="email">
    <input type="radio" name="gender" value="Male">
    <input type="radio" name="gender" value="Female">
    <input type="radio" name="gender" value="Other">
    <button id="registerButton" disabled>Register</button>
    <button id="cancelButton">Cancel</button>
</form>