<form ng-controller="EditProfileController" ng-submit="changePassword()">
    <label for="oldPassword">Old Password:</label>
        <input ng-model="changePasswordData.oldPassword"  type="password" id="oldPassword">
    <label for="newPassword">New password:</label>
        <input ng-model="changePasswordData.newPassword"  type="password" id="newPassword">
    <label for="newPasswordRepeat">New password repeat:</label>
        <input ng-model="changePasswordData.confirmPassword"  type="password" id="newPasswordRepeat">
    <input type="submit" value="ChangePassword" id="changePasswordButton">
</form>