<navbar></navbar>
<form class="register form-horizontal white col-xs-12" name="detailsForm" ng-controller="EditProfileController" ng-init="getUserData()" ng-submit="editProfile()">
    <legend><h2>Edit Profile</h2></legend>
    <div class="col-lg-12 form-info">
        <div class="col-lg-2 col-lg-offset-2 picture-upload">
            <div class="form-group">
                <img class="picture-preview thumbnail" name="image" src="{{editData.profileImageData}}" id="profilePicturePreview" style="width: 150px; height: 150px" required>
            </div>
            <span>Profile picture</span>
            <div class="form-group">
                <p class="file-limit">Size limit: 10MB</p>
                <input type="file" id="profilePicture" ng-click="uploadProfilePicture()" ng-model="editData.profileImageData">
            </div>
        </div>

        <div class="col-lg-2 col-lg-offset-2 picture-upload">
            <div class="form-group">
                <img class="picture-preview thumbnail" name="image" id="coverPicturePreview" src="{{editData.coverImageData}}" style="width: 150px; height: 150px" required>
            </div>
            <span>Cover picture</span>
            <div class="form-group">
                <p class="file-limit">Size limit: 10MB</p>
                <input type="file" id="coverPicture" ng-click="uploadCoverPicture()" ng-model="editData.coverImageData">
            </div>
        </div>

        <div class="form-group col-xs-7">
            <label for="reg-name" class="col-lg-3 control-label">Name</label>
            <div class="col-lg-7">
                <input type="text" ng-model="editData.name" class="form-control" id="reg-name" placeholder={{name}}  required>
            </div>
        </div>
        <div class="form-group col-xs-7">
            <label for="reg-email" class="col-lg-3 control-label">Email</label>
            <div class="col-lg-7">
                <input type="email" ng-model="editData.email" class="form-control" id="reg-email" placeholder={{email}} required>
            </div>
        </div>
        <div class="form-group col-xs-7">
            <label class="col-lg-3 control-label">Gender</label>
            <div class="col-lg-7">
                <label class="radio-inline"><input ng-model="editData.gender"  type="radio" name="gender" ng-value="1" required>Male</label>
                <label class="radio-inline"><input ng-model="editData.gender" type="radio" name="gender" ng-value="2">Female</label>
                <label class="radio-inline"><input ng-model="editData.gender" type="radio" name="gender" ng-value="0">Other</label>
            </div>
        </div>
        <div class="form-group col-xs-7">
            <div class="form-group col-lg-7">
                <div class="col-lg-10 col-lg-offset-7">
                    <input type="submit" id="editProfileButton" value="Edit Profile" class="btn btn-md btn-warning">
                </div>
            </div>
        </div>
    </div>
</form>