<div ng-controller="HomePageController" ng-init="getReceivedRequests()">
    <navbar></navbar>
    <friendstable></friendstable>

    <div id="news-feed" ng-controller="postController">

        <h1>News Feed</h1>

        <div infinite-scroll="nextPage()" infinite-scroll-distance='0'>
            <div ng-repeat='post in newsPosts'>
                <h3>{{post.postContent}}</h3>

                <button ng-click="showContent=!showContent">comment this post</button>
                <div ng-show="showContent">
                    <form action="" ng-submit="addCommentToPost(post.id)" ng-controller="postController">
                        <input ng-model="commentData.content" value="" type="text">
                        <input type="submit" value="Comment this post">
                    </form>
                </div>
                <button ng-click="getCommentByPostId(post.id)">show comments</button>
                <div>
                    <div ng-repeat='comment in post.comments'>
                        <p ng-click="showUser(comment.author.name)">{{comment.author.name}} </p>
                        <h4>{{comment.commentContent}}</h4>
                    </div>
                </div>
                <!--<button ng-hide="showEditPost" ng-click="showEditPost=!showEditPost">edit post</button>-->
                <!--<div ng-show="showEditPost">-->
                <!--<form action="" ng-submit="editPostById(post.id)" ng-controller="homeController">-->
                <!--<input ng-model="$scope.contentToChange.postContent" value="" type="text">-->
                <!--<input type="submit" value="Edit post">-->
                <!--</form>-->
                <!--</div>-->
            </div>
        </div>
</div>
</div>